@model IEnumerable<VLO.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    <a href="@Url.Action("Create","Productos")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>
<form action="@Url.Action("Index","Productos")" method="post">
    <div class="form-group">
        <div class="row col-md-12">
            <div class="col-md-6">
                <input type="text" name="txtbuscar" value="" class="form-control" placeholder=" Digite nombre" autocomplete="off" />
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-info" name="btn" value="BUSCAR" />
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table class="table table-bordered" style="background-color:#FFF">

            <tr style="background-color:#E6E6E6">
                <th>
                    @Html.DisplayNameFor(model => model.Categoria.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadMinima)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadMedida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadMinima)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadMedida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.IdProducto }, new { @class = "btn btn-warning glyphicon glyphicon-refresh" })
                        @Html.ActionLink(" ", "Delete", new { id = item.IdProducto }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }

        </table>
</div>

@*@section mostrarOcultar{
    <script type="text/javascript">
        $(document).ready(
            function () {
                $("a").click(
                    function () {
                        $(".Hidden1").toggle();
                    }
                 );
             }
        );
    </script>



    }*@

