@model IEnumerable<VLO.Models.Turnos>

@{
    ViewBag.Title = "Agregar";
}

<h2>Turnos</h2>

<p>
    <a href="@Url.Action("Create","Turnos")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>
<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table class="table table-bordered" style="background-color:#FFF">
        <tr style="background-color:#E6E6E6">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFinal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFinal)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.IdTurno }, new { @class = "btn btn-warning glyphicon glyphicon-refresh" }) | 
                    @Html.ActionLink(" ", "Delete", new { id = item.IdTurno }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
</div>
