@model IEnumerable<VLO.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Nuevo Usuario</h2>
<p>
    <a href="@Url.Action("Create","Usuarios")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>
<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table class="table table-bordered" style="background-color:#FFF">
        <tr style="background-color:#E6E6E6">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Roles.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.IdUser }, new { @class = "btn btn-warning glyphicon glyphicon-refresh" })
                @Html.ActionLink(" ", "Delete", new { id = item.IdUser }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
        }

    </table>
</div>