@model IEnumerable<VLO.Models.DetallePedido>

@{
    ViewBag.Title = "Index";
}

<h2>Detalle de pedidos</h2>

<p>
    <a href="@Url.Action("Create","DetallePedidos")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>

<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table class="table table-bordered" style="background-color:#FFF">
        <tr style="background-color:#E6E6E6">
            <th>
                @Html.DisplayNameFor(model => model.Menu.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido.Cliente)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedido.Cliente)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.IdDetalle }, new { @class = "btn btn-warning glyphicon glyphicon-refresh" })
                    @Html.ActionLink(" ", "Delete", new { id = item.IdDetalle }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
</div>
